// footer styles
footer {
    background-color: #000;
    margin-top: 90px;

    @include _768() {
        margin-top: 50px;
    }
}

.footer_content {
    color: #8B8B8B;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 55px;
    padding-bottom: 35px;
}